<div class="main-nav__container">

    <div class="image-nav__content">
        <img src="assets/dahmer 1.svg" alt="">
    </div>

    <div class="main-subtitle__content">
        <img class="img_subtitle" src="assets/Vector(2).svg" alt="">
        
        <h4 class="text-subtitle">
           {{ textSubtitle }}
        </h4>
    </div>

    <div class="paragraph_content">
        {{ paragraph }}
    </div>

    <div class="buttons-content">
        <button class="button-play">
            <span class="material-icons">
                play_arrow
            </span>
            <span class="play">Play</span>
        </button>
        <button class="button-info">
            <span class="material-icons">
                error_outline
            </span>
            <span class="more">More info</span>
        </button>
    </div>

</div>
