.header-menu__container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    height: 100px;
    padding-top: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0)
}
.menu-header > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgba(255, 255, 255, 0)
}
.menu__logo {
    background-color: #1A1A1A;
    background: #1A1A1A;
}
img {
    background: #1A1A1A;
}

.menu-header > ul > li {
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0)
}

.menu-header > ul > li > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 19px;
    color: white;
    background-color: rgba(255, 255, 255, 0)
}
.menu-header > ul > li > a:hover {
    color: rgb(255, 207, 207);
    transform: scale(1.1);
}
.right-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.img-profile {
    padding-left: 20px;
}
.img-profile:hover {
    transform: scale(1.1);
}

.right-menu > p {
    padding-left: 20px;
    color: white;
}
    
