<div class="header-menu__container">
    <div class="menu__logo">
        <img src="{{ logoHeader }}" alt="logo-site">
    </div>
    <div class="menu-header">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">New & Popular</a></li>
            <li><a href="#">My list</a></li>
            <li><a href="#">Browse by languages</a></li>
        </ul>
    </div>
    <div class="right-menu">
        <img class="img-profile" src="assets/search.svg" alt="">
        <p>DIRECT</p>
        <img  class="img-profile" src="assets/notification.svg" alt="">
        <img  class="img-profile" src="{{ imgProfile }}" alt="">
        <img class="img-profile" src="assets/Vector(1).svg" alt="">
    </div>
</div>