<div class="cards-content">
    <div class="title">{{ titleCards }}</div>

    <div class="images">
        <app-filmes class="imgHover" imageCard="assets/footerIMG.svg">

        </app-filmes>
        <app-filmes  class="imgHover" imageCard="assets/img7.svg">

        </app-filmes>
        <app-filmes class="imgHover" imageCard="assets/img2.svg">

        </app-filmes>
        <app-filmes class="imgHover" imageCard="assets/img3.svg">

        </app-filmes>
        <app-filmes class="imgHover" imageCard="assets/img4.svg">

        </app-filmes>
        <app-filmes class="imgHover" imageCard="assets/img5.svg">

        </app-filmes>
    </div>
</div>


